@import "src/mixins/mixins.sass"
@import "../../assets/colors/colors.sass"

.main-banner
  position: relative

  &__main-image-container_darkening
    background-color: $overlay-color
    overflow: hidden

  &__main-heading
    position: relative

  &__main-image
    opacity: 30%
    width: 100vw
    height: auto

  &__main-heading
    line-height: 100px
    text-transform: uppercase
    color: $background-white
    position: absolute
    top: 230px
    left: 143px
    right: 510px
    @include fontSettings(45px, 800)
    cursor: default

  &__main-heading_highlighted
    color: $primary-color

  &__main-heading_highlighted:hover
    animation: pulse 6s infinite

@keyframes pulse
  0%
    color: $primary-color

  25%
    color: $secondary-color

  50%
    color: $accent-color

  75%
    color: $secondary-color

  100%
    color: $primary-color

