@import "src/colors/colors.sass"
@import "src/mixins/mixins.sass"

.about-us
  background-color: $primary-color
  padding-bottom: 120px

  &__container
    flex-direction: column
    align-items: center
    padding: 50px 0 155px 0
    @include flexAndGap(55px)

  &__heading
    line-height: 105px
    color: $background-white
    @include fontSettings(54px, 600)

  &__info
    justify-content: center
    @include flexAndGap(100px)

  &__first-part-info > p, &__second-part-info > p
    width: 396px

  &__first-part-info, &__second-part-info
    @include flexAndGap(22.5px)

  &__first-part-info, &__second-part-info
    letter-spacing: 1px
    color: $background-white
    hyphens: auto
    @include fontSettings(18px, 400)

  &__first-part-icon, &__second-part-icon
    width: 70px
    height: auto

