@import "/src/mixins/mixins.sass"
@import "/src/assets/colors/colors.sass"

.catalogue
  background-color: $background-dark
  flex-direction: column
  padding: 30px 78px 64px 78px
  align-items: center
  @include flexAndGap(27px)
  width: 100% //УБЕРИ ПОТОМ

  &__project-container
    display: flex
    flex-direction: column

  &__searchbar-container
    display: flex
    justify-content: center