@import "/src/assets/colors/colors"
@import "/src/mixins/mixins.sass"

.my-cabinet
  width: 50vw
  flex-direction: column
  @include flexAndGap(1.406rem)

  & p, button, span
    font-size: 0.875rem

  &__about-myself, &__my-info, &__info-section, &__registration-error
    background-color: $background-white
    border-radius: 15px
    padding: 2.375rem
    height: fit-content

  &__info-section
    display: flex
    justify-content: space-between
    padding-top: 1.375rem
    padding-bottom: 1.375rem

    & h3
      margin-bottom: 1rem

  &__main-info-fields, &__added-fields,  &__info-section
    flex-direction: column
    align-items: start
    @include flexAndGap(0.5rem)

  &__flex
    display: flex
    flex-direction: row
    justify-content: space-between

  &__added-fields
    margin-bottom: 1.375rem

    & h3
      margin-bottom: 1rem

  &__my-info
    display: flex
    justify-content: space-between

    & > div
      display: flex

  &__avatar-container
    display: flex
    flex-direction: column
    align-items: center

  &__avatar-margin-right
    margin-right: 1.75rem

  &__avatar
    width: 10.812rem
    height: 10.812rem
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    display: block
    border-radius: 15px
    object-fit: cover
    margin-bottom: 1rem

  &__change-avatar-button
    align-items: center
    text-decoration: underline
    @include flexAndGap(8px)

  &__main-info span
    color: $text-primary-color
    font-weight: 600

  &__main-info p
    font-weight: 600
    margin-top: 14px

  &__main-info p:first-of-type
    margin-top: 1.375rem

  &__main-info p svg
    margin-left: 5px
    width: 15px
    height: auto

  &__contacts
    flex-direction: column
    color: $text-primary-color
    font-weight: 300
    @include flexAndGap(18px)

    & span
      font-weight: 600
      color: $text-black

    & button
      color: $primary-color
      text-decoration: underline
      cursor: pointer

  &__about-myself
    flex-direction: column
    @include flexAndGap(18px)

    & h3
      margin-bottom: 10px

  &__accordion h3
    font-size: 1.125rem
    font-weight: 700
    font-family: Rubik, sans-serif

  &__accordion-details:global(.MuiAccordionDetails-root)
    padding: 0 0 2rem 0

  &__accordion-details ol
    padding-left: 1rem

  &__accordion:global(.MuiAccordion-root), &__accordion:global(.MuiAccordion-root:last-of-type)
    border: transparent
    box-shadow: none
    border-radius: 15px
    padding: 0.375rem 2.375rem
    outline: transparent
    margin: 0

  &__accordion:global(.MuiAccordion-root) h3 button, &__accordion:global(.MuiAccordion-root:last-of-type) h3 button
    padding: 0

  &__accordion:global(.MuiAccordion-root)::before,
  &__accordion:global(.MuiAccordion-root:last-of-type)::before
    display: none

  &__form-field::-webkit-input-placeholder
    font-size: 15px
    font-weight: 200

  &__form-field, &__form-select
    outline: none
    border: none
    background-color: $background-grey
    border-radius: 15px
    padding: 8px 14px

  &__form-select
    width: 100%

  &__add-fields-button
    align-items: center
    @include flexAndGap(8px)

  &__settings-buttons
    margin-top: 1.5rem
    justify-content: end
    @include flexAndGap(1.563rem)

  &__delete-added-fields-button, &__contact-field + button,   &__form--error
    color: $text-error

  &__contact-field
    margin-right: 10px

  &__form--error
    margin-left: 15px
    font-size: 12px

  &__registration-error
    padding: 1.375rem 2.375rem
    background: $background-registration-company-error

    & span
      text-decoration: underline
      font-size: 16px
      font-weight: 600

    & h3
      font-size: 16px
      font-weight: 600
      padding-bottom: 18px

    & h2
      font-size: 20px
      font-weight: 600
      padding-bottom: 18px

    &-list
      list-style: inside
      margin-left: 20px
      color: $text-primary-color
      display: flex
      flex-direction: column
      gap: 10px
      font-weight: 400

      & a
        color: $primary-color