@import "src/colors/colors.sass"

.button
  border-radius: 15px
  font-size: 23px
  padding: 15px 30px
  width: fit-content
  font-weight: 600

.blue-button
  color: $heading-white
  background-color: $main-blue
  transition: background-color 0.7s

.blue-button:hover
  background-color: rgba($main-blue, 0.5)

.white-button
  color: $banner-darkening
  background-color: $heading-white
  transition: background-color 0.7s

.white-button:hover
  background-color: rgba($heading-white, 0.5)