@import "/src/mixins/mixins.sass"
@import "/src/colors/colors.sass"

.chat-side-list
  display: flex
  flex-direction: column
  width: 28vw
  border-radius: 20px
  overflow: auto
  background-color: $background-grey
  height: 470px
  scroll-behavior: smooth