@import "/src/colors/colors"

.parent-modal
  position: fixed
  top: 0
  left: 0
  z-index: 10
  background: $background-modal
  width: 100vw
  height: 100vh

  &__info-container
    position: fixed
    background: $background-white
    z-index: 15
    top: 35%
    left: 30%
    border-radius: 20px
    padding: 22px 33px
