@import "/src/mixins/mixins.sass"
@import "/src/assets/colors/colors.sass"
@import "/src/assets/variables/variables.sass"

.message-input-bar
  background-color: $background-white
  padding: 13px 22px

  &__message-input-container
    background-color: $background-grey-plain
    border-radius: 100px
    padding: 10px 25px
    display: flex
    justify-content: space-between
    max-height: 40%
    box-sizing: border-box
    align-items: center

  &__form
    width: 100%
    display: flex
    justify-content: space-between

  &__form-field
    width: 100%
    min-height: auto
    background-color: $background-grey-plain
    border: none
    outline: none

  &__disabled
    display: flex
    align-items: center
    justify-content: center
    height: 60px
    color: $text-primary-color
    font-size: 14px

  &__send-button
    background: none
    border: none
    cursor: pointer
    padding: 5px
    border-radius: 50%
    transition: background-color 0.3s

    &:hover:not(:disabled)
      background-color: rgba(0, 149, 255, 0.1)

    &:disabled
      opacity: 0.5
      cursor: not-allowed

