@import "/src/mixins/mixins"
@import "/src/assets/colors/colors.sass"


.create-project
  display: flex
  justify-content: center

  & > div
    margin: 2.438rem 0
    background-color: $background-white
    width: 56.25rem
    border-radius: 20px
    padding: 2.688rem 4.063rem

    & h2
      font-size: 2rem
      margin-bottom: 2.625rem

  &__form
    flex-direction: column
    @include flexAndGap(2.25rem)

    &--error
      top: 100%
      position: absolute
      font-size: 0.75rem
      margin-top: 10px
      margin-left: 0.625rem
      font-weight: 400
      color: $text-error

    &--error-no-floating
      font-size: 0.75rem
      margin-top: 10px
      margin-left: 0.625rem
      font-weight: 400
      color: $text-error

    & label
      font-weight: 700
      font-size: 1.125rem
      flex-direction: column
      display: flex

    &-field
      margin-top: 0.938rem
      background-color: $background-grey
      border-radius: 15px
      padding: 8px 14px
      border: transparent

    &-field::-webkit-input-placeholder
      color: $text-secondary-color
      font-size: 0.938rem
      font-weight: 400

  &__form-chars-number
    margin-top: 5px
    display: flex
    justify-content: end
    font-size: 0.938rem
    font-weight: 400
    color: $text-secondary-color

  &__form-button
    display: flex
    justify-content: end

  &__form-checkbox
    display: flex
    align-items: center
    gap: 7px
    margin-top: 15px

    & label
      font-family: Arial, sans-serif
      font-size: 0.938rem
      font-weight: 300

    & input:checked
      background-color: $background-grey

    & input:checked::before
      content: ""
      width: 15px
      height: 15px
      border-radius: 4px
      background-color: $primary-color
      font-weight: bold
      position: absolute
      border: none
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      overflow: hidden

  &__field-description
    margin: 10px 0
    font-size: 0.938rem
    font-weight: 400
    color: $text-secondary-color


  &__date-input
    font-size: 0.938rem
    font-weight: 400

  &__date-input, input[type=number]
    width: 20%

input[type="checkbox"]
  appearance: none
  width: 15px
  height: 15px
  border-radius: 4px
  background-color: $background-grey
  border: none
  cursor: pointer
  position: relative