// Основные цвета //
$primary-color: rgba(26, 147, 204, 1)
$secondary-color: rgba(119, 136, 168, 1)
$accent-color: rgba(243, 122, 119, 1)

// Текст //
$text-primary-color: rgba(74, 74, 74, 1)
$text-secondary-color: rgba(140, 140, 140, 1)
$text-black: rgba(0,0,0,1)
$text-error: rgba(255, 94, 94, 1)

// Фоновые цвета //
$background-light: rgba(232, 232, 232, 1)
$background-dark: rgba(236, 234, 234, 1)
$background-white: rgba(255, 255, 255, 1)
$background-grey: rgba(217, 217, 217, 0.4)
$background-grey-plain: rgba(241, 241, 241, 1)
$background-grey-dark: rgba(217, 217, 217, 1)
$background-auth-gradient: linear-gradient(314deg, $primary-color 17.24%, rgba(34, 226, 255, 1) 87.75%)
$background-modal: rgba(0,0,0, 0.4)

// Границы и тени //
$border-color: rgba(177, 177, 177, 1)
$notification-border-color: rgb(211, 211, 211)
$shadow-color: rgba(0, 0, 0, 0.25)

// Дополнительно //
$overlay-color: rgba(0, 0, 0, 1)
$filter-color: rgba(0, 0, 0, 0.6)

