@import "assets/fonts/Rubik/rubik.sass"
@import "src/colors/colors.sass"

body
  box-sizing: border-box
  font-family: Inter, sans-serif

ul
  list-style: none
  padding: 0
  margin: 0

a
  text-decoration: none
  color: black

button
  background: none
  border: none
  cursor: pointer
  padding: 0

h1, h2, h3, h4, h5, h6
  margin: 0
  font-family: Rubik, sans-serif

p
  margin: 0

::-webkit-scrollbar
  background-color: $main-blue
  width: 7px

::-webkit-scrollbar-thumb
  background-color: rgba($heading-white, 0.5)